<div class="mt-3 pt-3 ">
  <h1 class="d-flex justify-content-center">Create a new movie list...</h1>
  <div class="mt-3 d-flex justify-content-center">
    <%= link_to "Back to my list", lists_path  %>

  </div>

  <%= render 'form', list: @list %>

</div>

